<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">
	<listeners>
		<listener class-name="com.unifier.automation.dmautomation.customListener.Listener"></listener>
		<listener class-name="com.unifier.automation.dmautomation.customListener.RetryListener"></listener>
	</listeners>
	<test name="TC001_VerifyLoginwithInvalidCredentials">
		<classes>
			<class name="com.unifier.automation.dmautomation.LoginPage.TC001_VerifyLoginwithInvalidCredentials"></class>
		</classes>
	</test>
</suite>